@page "/signup"
@using Microsoft.JSInterop
@using leiloes_monet.DAL;
@using leiloes_monet.Pages;

<style>
    /*Buttons*/
    .button-container {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: row;
    }

        .button-container button {
            margin-right: 10px; /* Add some spacing between buttons */
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #7A007C;
            color: #ffffff;
            border: none;
            border-radius: 5px;
        }

    .website-title {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 20px;
        font-weight: bold;
        color: #7A007C;
        cursor: pointer; /* Add cursor pointer on hover */
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-family: inherit;
    }

    .quem-somos-button {
        background-color: #ffffff !important; /* Change this color to your desired background color */
        color: #000000 !important;
    }

</style>

<style>
    .signup-form {
        padding-top: 200px;
        max-width: 400px; /* Adjust the maximum width as needed */
        margin: 0 auto; /* Center the form horizontally */
        
    }

        .signup-form label {
            display: block; /* Make labels block elements for better spacing */
            margin-bottom: 8px; /* Adjust the margin between labels and input fields */
        }

        .signup-form input,
        .signup-form button {
            width: 100%; /* Make inputs and button full-width */
            margin-bottom: 16px; /* Adjust the margin between input fields and button */
        }

    .signup-button {
        background-color: #7A007C; /* Green background color */
        color: white; /* White text color */
        padding: 10px 15px; /* Add padding for better button appearance */
        border: none; /* Remove border */
        border-radius: 4px; /* Optional: Add border radius for a rounded button */
        cursor: pointer; /* Add cursor pointer on hover */
    }
</style>

<style>
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: white;
        font-family: "lato", sans-serif;
    }

    .signupFrm {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form {
        background-color: white;
        width: 400px;
        border-radius: 8px;
        padding: 20px 40px;
        box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    }

    .title {
        font-size: 50px;
        margin-bottom: 50px;
    }

    .inputContainer {
        position: relative;
        height: 45px;
        width: 90%;
        margin-bottom: 17px;
    }

    .input {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        border: 1px solid #DADCE0;
        border-radius: 7px;
        font-size: 16px;
        padding: 0 20px;
        outline: none;
        background: none;
        z-index: 1;
    }


    /* Hide the placeholder texts (a) */

    ::placeholder {
        color: #808080; /* Set a color that is visible but not too bright */
    }

    .label {
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 0 4px;
        background-color: white;
        color: #808080; /* Set the label color to a subtle gray */
        font-size: 16px;
        transition: 0.5s;
        z-index: 0;
    }

    .submitBtn {
        display: block;
        margin-left: auto;
        padding: 15px 30px;
        border: none;
        background-color: purple;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 30px;
    }

        .submitBtn:hover {
            background-color: #9867C5;
            transform: translateY(-2px);
        }

    .input:focus + .label {
        top: -7px;
        left: 3px;
        z-index: 10;
        font-size: 14px;
        font-weight: 600;
        color: purple;
    }

    .input:focus {
        border: 2px solid purple;
    }

    .input:not(:placeholder-shown) + .label {
        top: -7px;
        left: 3px;
        z-index: 10;
        font-size: 14px;
        font-weight: 600;
    }
</style>


<div class="signupFrm">
    <form class="form" @onsubmit="SignUpAndNavigate">
        <h1 class="title">Sign Up</h1>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" @bind="eMail">
            <label class="label">Email</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" @bind="userName">
            <label class="label">Username</label>
        </div>

        <div class="inputContainer">
            <input type="date" class="input" placeholder="" @bind="date">
            <label class="label">Birthday Date</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" @bind="nif">
            <label class="label">NIF</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" @bind="city">
            <label class="label">City</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" @bind="postCode">
            <label class="label">Post Code</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" @bind="country">
            <label class="label">Country</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" @bind="street">
            <label class="label">Street</label>
        </div>

        <div class="inputContainer">
            <input type="password" class="input" placeholder="" @bind="password">
            <label class="label">Password</label>
        </div>

        <div class="error-message" style="color: red; margin-bottom: 10px;">@errorMessage</div>

        <input type="submit" class="submitBtn" value="Sign up">
    </form>
</div>
<button @onclick="GoToHomePage" class="website-title">Leilões Monet</button>

<div class="button-container">
    <button @onclick="GoToQuemSomos" class="quem-somos-button">Quem somos</button>
    <button @onclick="GoToLoginPage">Sign In</button>
    <button @onclick="GoToSignUpPage">Sign Up</button>
</div>



@code {
    private string eMail = null;
    private string userName = null;
    private DateTime? date = null;
    private string password = null;
    private string nif = null;
    private string city = null;
    private string postCode = null;
    private string country = null;
    private string street = null;
    private string errorMessage = null;

    private bool isEmailTaken = false;
    private bool isNIFTaken = false;

    private bool AddUser()
    {
        int res = AreAllFieldsFilled();
        if (res == 0)
        {
            UserDAL test = new UserDAL();
            test.addUser(eMail,userName,date,nif,password,street,city,postCode,country);

            return true;
        }
        else if (res == 3)
        {
            errorMessage = "Please fill in all the fields.";
            return false;
        }

        else if (res == 1){
            errorMessage = "Email is already taken.";
            return false;
        }
        else if (res == 4)
        {
            errorMessage = "Birth Date is invalid!";
            return false;
        }
        else
        {
            errorMessage = "NIF is already taken.";
            return false;
        }
    }

    private bool IsEmailTaken()
    {
        UserDAL test = new UserDAL();
        return test.isEmailTaken(eMail);
    }

    private bool IsNIFTaken()
    {
        UserDAL test = new UserDAL();
        return test.isNIFTaken(nif);
    }

    public bool Is18OrOlder()
    {
        if (date.HasValue)
        {
            DateTime now = DateTime.UtcNow;
            DateTime eighteenYearsAgo = now.AddYears(-18);

            return date <= eighteenYearsAgo;
        }

        return false;
    }

    private int AreAllFieldsFilled()
    {
        if (string.IsNullOrWhiteSpace(eMail)
            || string.IsNullOrWhiteSpace(userName)
            || !date.HasValue
            || string.IsNullOrWhiteSpace(password)
            || string.IsNullOrWhiteSpace(nif)
            || string.IsNullOrWhiteSpace(street)
            || string.IsNullOrWhiteSpace(city)
            || string.IsNullOrWhiteSpace(postCode)
            || string.IsNullOrWhiteSpace(country))
        {
            return 3;
        }

        // Check if any field is already taken
        if (IsEmailTaken())
        {
            errorMessage = "Email is already taken.";
            return 1;
        }

        if (IsNIFTaken())
        {
            errorMessage = "NIF is already taken.";
            return 2;
        }

        if (!Is18OrOlder())
        {
            return 4;
        }

        return 0;
    }

    private async Task SignUpAndNavigate()
    {
        if (AddUser())
        {
            NavigationManager.NavigateTo("/");
        }
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void GoToLoginPage()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void GoToSignUpPage()
    {
        NavigationManager.NavigateTo("/signup");
    }

    private void GoToQuemSomos()
    {
        NavigationManager.NavigateTo("/quemsomos");
    }

    private void GoToHomePage()
    {
        NavigationManager.NavigateTo("/");
    }
}


