<head>
    <link rel="stylesheet" href="../../css/homepage.css">
</head>



<body>
    <a asp-controller="HomeLogged" asp-action="Index" class="website-title">Leilões Monet</a>

    <br></br>
    <br></br>

    <section id="quem-somos">
        <h2>Quem Somos</h2>
        <p>Bem-vindo ao Leilões Monet, o seu destino online para a apreciação e aquisição de arte de qualidade excepcional. Somos mais do que um simples site de leilões; somos um ponto de encontro global para amantes da arte, colecionadores entusiastas e artistas talentosos.</p>
        <br></br>
        <h3>A Nossa História</h3>
        <p>Fundada há décadas pelo visionário Sr. Mário, um apaixonado colecionador e entusiasta da arte, a Leilões Monet tem raízes profundas na cidade cultural de Braga. Nasceu da crença inabalável de que a arte deve ser acessível a todos, independentemente de onde estejam no mundo.</p>
        <br></br>
        <!-- Adicione mais seções conforme necessário -->

        <h3>Junte-se a Nós</h3>
        <p>Explore nosso site, descubra obras incríveis e participe de leilões emocionantes. No Leilões Monet, estamos comprometidos em tornar a arte uma parte integrante da vida de todos.</p>
        <br></br>
        <p>Obrigado por escolher Leilões Monet - onde a arte ganha vida além das fronteiras!</p>
    </section>
    
    <br />
    <br />
    <br />

    <footer>
        <p>&copy; 2024 Leilões Monet. Todos os direitos reservados.</p>
    </footer>
</body>
