@page "/"
@using leiloes_monet.DAL;
@using leiloes_monet.Pages;

<style>/*Buttons*/
    .button-container {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: row;
    }

    .button-container button {
        margin-right: 10px; /* Add some spacing between buttons */
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #7A007C;
        color: #ffffff;
        border: none;
        border-radius: 5px;
    }

    .website-title {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 20px;
        font-weight: bold;
        color: #7A007C;
        cursor: pointer; /* Add cursor pointer on hover */
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-family: inherit;
    }

    .quem-somos-button {
        background-color: #ffffff !important; /* Change this color to your desired background color */
        color: #000000 !important;
    }


</style>

<button @onclick="GoToHomePage" class="website-title">Leilões Monet</button>

<div class="button-container">
    <button @onclick="GoToQuemSomos" class="quem-somos-button">Quem somos</button>
    <button @onclick="GoToLoginPage">Sign In</button>
    <button @onclick="GoToSignUpPage">Sign Up</button>
</div>

<style>/*Images and header style*/
    .header-text {
        text-align: center;
        font-size: 40px; /* Adjust this value to set the font size */
        margin-top: 250px; /* Adjust this value to set the top margin */
    }

    .image-container {
        display: flex; /* Display children elements (images) in a row */
        justify-content: center; /* Center the images horizontally */
        align-items: center; /* Center the images vertically */
        margin-top: 350px; /* Adjust the top margin as needed */
    }

        .image-container img {
            height: auto;
            margin: 0 10px; /* Adjust the margin between images */
        }

            .image-container img:first-child {
                max-width: 100%; /* Adjust the max-width for the first image */
            }

            .image-container img:last-child {
                max-width: 100%; /* Adjust the max-width for the second image */
            }

    .resume-text {
        text-align: center;
        font-size: 40px; /* Adjust this value to set the font size */
        margin-top: 400px; /* Adjust this value to set the top margin */
        margin-left: auto;
        margin-right: auto;
        display: table;
    }
</style>


<div class="header-text">
    <p>
        Somos colecionadores, apreciadores e negociantes de obras de arte preciosas.
    </p>
</div>

<div class="image-container">
    <img src="/imagens/grito.jpg">
    <img src="/imagens/bar.jpg">
</div>


<div class="resume-text">

    <p>Na Leilões Monet, acreditamos no poder da arte para inspirar, cativar e transformar vidas.</p><br>

    <p>Acreditamos que a arte transcende barreiras, unindo pessoas de todas as culturas e lugares, criando uma linguagem universal.</p><br>


    <p>O nosso compromisso é apoiar artistas, oferecendo uma plataforma para exibirem o seu talento, obter reconhecimento e receber um justo valor pelo seu trabalho.</p><br>

    <p>Qualidade e Autenticidade: Comprometemo-nos com altos padrões de qualidade e autenticidade em todas as obras de arte que leiloamos.</p><br>

    <p>Acreditamos que a arte deve ser acessível a todos, oferecendo uma variedade de obras para diferentes gostos e orçamentos.</p><br>
    
</div>





@code {
    // Inject NavigationManager
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void GoToLoginPage()
    {
        // Use NavigationManager to navigate to the "/login" page
        NavigationManager.NavigateTo("/login");
    }
    private void GoToSignUpPage()
    {
        // Use NavigationManager to navigate to the "/signup" page
        NavigationManager.NavigateTo("/signup");
    }
    private void GoToQuemSomos()
    {
        // Use NavigationManager to navigate to the "/quemsomos" page
        NavigationManager.NavigateTo("/quemSomos");
    }
    //isto é so para testar a conexao à bd
    private void GoToHomePage()
    {
        UserDAL test = new UserDAL();
        List<Utilizador> lista = test.GetAllUsers();
        foreach (Utilizador user in lista)
        {
            // Do something with each user object
            Console.WriteLine(user.ToString());
        }
        NavigationManager.NavigateTo("/");
    }
}