@page "/login"
@using leiloes_monet.Pages;

<div>
    <label for="userName">Enter your name:</label>
    <input type="text" id="userName" @bind="userName" />
    <button @onclick="AddUser">Add User</button>
    @if (!string.IsNullOrEmpty(message))
    {
        <p>@message</p>
    }
</div>

@code {
    private List<Utilizador> utilizadores = new List<Utilizador>(); // Initialize the list
    private string userName;
    private string password;
    private string message = "";

    private void AddUser()
    {
        Utilizador user = new Utilizador(userName);

        utilizadores.Add(user);

        // Set the message to be displayed
        message = $"User '{user.nome}' added successfully!";
    }
}
