<html>
	<head>
    <link rel="stylesheet" href="../../css/homepage.css">
    <link rel="stylesheet" href="../../css/signup.css">
</head>

<body>
    <div class="signupFrm">
    <form class="form" onsubmit="SignUpAndNavigate">
        <h1 class="title">Sign Up</h1>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" bind="eMail">
            <label class="label">Email</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" bind="userName">
            <label class="label">Username</label>
        </div>

        <div class="inputContainer">
            <input type="date" class="input" placeholder="" bind="date">
            <label class="label">Birthday Date</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" bind="nif">
            <label class="label">NIF</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" bind="city">
            <label class="label">City</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" bind="postCode">
            <label class="label">Post Code</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" bind="country">
            <label class="label">Country</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="" bind="street">
            <label class="label">Street</label>
        </div>

        <div class="inputContainer">
            <input type="password" class="input" placeholder="" bind="password">
            <label class="label">Password</label>
        </div>

        <div class="error-message" style="color: red; margin-bottom: 10px;">errorMessage</div>

        <input type="submit" class="submitBtn" value="Sign up">
    </form>
</div>

    <a asp-controller="Home" asp-action="Index" class="website-title">Leilões Monet</a>

    <div class="button-container">
        <a asp-controller="Home" asp-action="QuemSomos" class="quem-somos-button">Quem somos</a>
        <a asp-controller="SignIn" asp-action="SignIn">Sign In</a>
        <a asp-controller="SignUp" asp-action="SignUp">Sign Up</a>
    </div>
</body>

</html>







