<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/446be553-fc80-4cb6-b34f-a32e7a8838cd/resourceGroups/trips/providers/Microsoft.Web/sites/leiloesmonet</ResourceId>
    <ResourceGroup>trips</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://leiloesmonet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>86e8d0ca-97c5-48e5-b996-af527d0ad8a8</ProjectGuid>
    <PublishUrl>https://leiloesmonet.scm.azurewebsites.net/</PublishUrl>
    <UserName>$leiloesmonet</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>